* {
  box-sizing: border-box;
}

body {
  background-color: rgb(69, 39, 97);
  color: red;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(69, 39, 97, 0.479));
  padding: 1px;
}

.note,
button {
  font-family: 'Cedarville Cursive', 'Courier New', Courier, monospace;  
}

button {
  background-color: rgb(255, 226, 171);
}

button:hover {
  cursor: pointer;
}

.note {
  font-family: 'Cedarville Cursive', 'Courier New', Courier, monospace;
  background: -webkit-linear-gradient(rgb(255, 226, 171), rgb(196, 145, 103));
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  color: black;
  margin: auto;
  padding: 15px;
  text-align: center;
  width: 550px;
}

header {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0 0 50px 0;
}

h1 {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgba(146, 29, 255, 0.479));
  font-size: 72px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover,
h1:hover {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgba(146, 29, 255, 0.678));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav > p {
  display: inline;
  margin: 0 5px 0 5px;
}

a {
  color: red;
  text-decoration: none;
}

#gameCanvas {
  filter: grayscale(100%);
}

#gameCanvas:focus {
  outline: solid 2px black;
}

footer {
  padding: 15px 0 15px 0;
}

@media only screen and (min-width: 0px) and (max-width: 349px) {
  h1 {
    font-size: 48px;
  }
  canvas#gameCanvas {
    width: 150px;
  }
}

@media only screen and (min-width: 350px) and (max-width: 399px) {
  h1 {
    font-size: 64px;
  }
  canvas#gameCanvas {
    width: 200px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 449px) {
  canvas#gameCanvas {
    width: 250px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 499px) {
  canvas#gameCanvas {
    width: 300px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 549px) {
  canvas#gameCanvas {
    width: 350px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 599px) {
  canvas#gameCanvas {
    width: 400px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 649px) {
  canvas#gameCanvas {
    width: 450px;
  }
}

@media only screen and (max-width: 700px) {
  .note {
    width: auto;
  }
  main {
    padding: 50px;
  }
}